html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-button-container {
    background-color: #2229;
    border-radius: 8px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 60;
}

.header-button {
    color: white;
    padding: 6px;
    border-radius: 9999px;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 12rem;
    background-color: #222;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 70;
}

.sidebar-menu.open {
    transform: translateX(0);
}

.sidebar-header {
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #666;
}

.sidebar-title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.sidebar-nav {
    margin-top: 1rem;
}

.sidebar-nav-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    text-align: left;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-nav-icon {
    margin-right: 0.75rem;
}

.app-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.app-page {
    display: none;
    flex-grow: 1;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
    flex-direction: column;
    padding: 1.5rem;
}

.app-page--active {
    display: flex;
}

.page-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}

.page-description {
    color: #D1D5DB;
}

.teams-page-layout,
.players-page-layout,
.scheduling-page-layout,
.config-page-layout,
.history-page-layout,
.stats-page-layout {
    padding: 1.5rem;
}
@media (min-width: 768px) {
    .teams-page-layout,
    .players-page-layout,
    .scheduling-page-layout,
    .config-page-layout,
    .history-page-layout,
    .stats-page-layout {
        padding: 1.5rem 2rem;
    }
}

@media (min-width: 1024px) {
    .teams-page-layout,
    .players-page-layout,
    .scheduling-page-layout,
    .config-page-layout,
    .history-page-layout,
    .stats-page-layout {
        padding: 2rem 2.5rem;
    }
}

.start-page-layout {
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.452);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.start-page-layout:not(.app-page--active) {
    display: none;
}

.start-game-button {
    background-color: #2563EB;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.score-screen {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.team-players-column-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-0%, -50%);
    top: 50%;
    left: 5px;
    z-index: 30;
}

.team-players-column {
    background-color: #2229;
    padding: 10px 15px;
    font-size: 0.875rem;
    margin: 5px;
    border-radius: 8px;
    z-index: 15;
    display: none;
    cursor: pointer; /* Adicionado para indicar que é clicável */
}

.team-players-column ul {
    padding: 0;
    margin: 0;
    list-style: none;  
}

.score-teams-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.score-team-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    z-index: 20;
    transition: all 0.2s ease-in-out;
}

.score-team-panel--blue {
    background-color: #325fda;
}

.score-team-panel--red {
    background-color: #f03737;
}

.score-team-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.score-value {
    font-size: 8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 768px) {
    .score-value {
        font-size: 12rem;
    }
}

.swap-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.swap-button {
    background-color: #2229;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.timer-wrapper {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}

.timer-display {
    background-color: #2229;
    padding: 10px 20px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-text {
    font-size: 2.25rem;
    font-family: monospace;
}

.timer-toggle-button {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.timer-flex {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.set-timer-label {
    font-size: 1rem;
    font-family: monospace;
    color: #D1D5DB;
}

.teams-generate-button {
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.teams-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.team-card {
    flex: 1;
    background-color: #222;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.team-card--blue-border {
    border-left: 0.25rem solid #2563EB;
}

.team-card--red-border {
    border-left: 0.25rem solid #DC2626;
}

.team-card-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 1px solid #666;
}

.team-card-list {
    color: #D1D5DB;
    list-style: inside;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.team-card-list li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #444;
}

.player-input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.player-name-input {
    flex-grow: 1;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #333;
    border: none;
    color: white;
    outline: none;
    box-shadow: 0 4px 6px -1-px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.add-player-button {
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1.25rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.player-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.player-list-controls .switch {
    margin-right: 0.5rem;
}

.player-list-controls .player-count-display:first-of-type {
    margin-right: auto;
}

.player-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.player-list-item {
    background-color: #222;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 0.75rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-list-item .player-info {
    display: flex;
    align-items: center;
}

.player-list-item .player-name-display {
    margin-left: 0.75rem;
    color: white;
}

.remove-player-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #DC2626;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.remove-player-button:hover {
    background-color: rgba(220, 38, 38, 0.2);
}


.scheduling-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
    .scheduling-form-grid {
        grid-template-columns: 1fr 1fr;
    }

    .team-players-column {
        width: 100px;
    }

    .team-players-column-group {
        position: absolute;
        display: flex;
        flex-direction: row;
        transform: translate(-50%, -0%);
        top: 0px;
        left: 50%;
    }
}

.form-group {
    margin-bottom: 0;
}

.form-group--full-width {
    grid-column: 1 / -1;
}

.form-label {
    display: block;
    color: #D1D5DB;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.config-toggle-group .form-label {
    width: 20px;
    flex-grow: 1;
}

.form-input {
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.form-input-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    border: none;
    border-radius: 0.375rem;
    background-color: #333;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.form-input-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.form-input-color::-webkit-color-swatch {
    border: none;
    border-radius: 0.375rem;
}

.form-input-color::-moz-color-swatch-wrapper {
    padding: 0;
}

.form-input-color::-moz-color-swatch {
    border: none;
    border-radius: 0.375rem;
}


.form-input:focus {
    border-color: #4F46E5;
}

.add-scheduling-button {
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.upcoming-games-heading {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.75rem;
}

.upcoming-games-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.game-item {
    background-color: #222;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.game-title {
    color: white;
    font-weight: bold;
}

.game-info {
    color: #9CA3AF;
    font-size: 0.875rem;
}

.delete-game-button {
    color: #DC2626;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.history-card {
    background-color: #222;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.history-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.history-card-score {
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
}
s
.history-card-datetime {
    color: #9CA3AF;
    font-size: 0.875rem;
}

.history-card-arrow {
    font-size: 1rem;
    vertical-align: middle;
}

.history-players-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: #D1D5DB;
    margin-bottom: 1rem;
}

.history-players-title {
    font-weight: 600;
    color: white;
    margin-bottom: 0.25rem;
}

.history-players-list {
    list-style: none;
    padding: 0;
}

.history-players-list li {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.history-card-footer {
    border-top: 1px solid #4B5563;
    padding-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-card-detail {
    display: flex;
    align-items: center;
    color: #9CA3AF;
}

.history-detail-icon {
    font-size: 0.875rem;
    margin-right: 0.25rem;
}

.history-delete-button {
    margin-left: 1rem;
}

@media (min-width: 600px) {
    .teams-grid-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .history-players-layout {
        grid-template-columns: 1fr 1fr;
    }
    .score-teams-container {
        flex-direction: row;        
    }
    
}

@media (min-width: 740px) {
    .teams-grid-layout {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.accordion-item {
    background-color: #222;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #2222;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-header.active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #D1D5DB;
}

.accordion-content-sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 20px;
    padding: 20px;    
    border-top: 1px solid #666;
}

.accordion-content-sub-teams {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    gap: 20px;
    padding: 20px;    
    border-top: 1px solid #666;
}

.personalized-teams {
    display: flex;
}

.personalized-team-color  {
    width: 30px;
}

@media (min-width: 600px) {
    .accordion-content-sub {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .accordion-content-sub-teams {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.accordion-content.open {
    padding-bottom: 1rem;
}


.config-toggle-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px; /* Make it round */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; /* Make it round */
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Modal Styles */
.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.modal-title {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.modal-team-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    max-height: 200px; /* Limita a altura para rolagem */
    overflow-y: auto; /* Adiciona rolagem se a lista for muito longa */
    border: 1px solid #444;
    border-radius: 5px;
}

.modal-team-item {
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #D1D5DB;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-team-item:last-child {
    border-bottom: none;
}

.modal-team-item:hover {
    background-color: #333;
}

.modal-team-item-name {
    font-weight: bold;
}

.modal-team-item-color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #555;
}

.modal-close-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.modal-close-button:hover {
    background-color: #555;
}
